body{
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-image: url("../images/fire-abstract-1080x72072.jpg");
    background-color: #042cc2;
    color: #fff;
}

#main-header ul{
    padding: 0;
    list-style: none;
}

#navbar{
    background-color: #333333;
    color: #fff;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#main{
    float: left;
    width: 70%;
    padding: 0 10%;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}

#klauss{
    width: 282px;
    height: 400px;
}

#peru{
    width: 400px;
    height: 300px;
}

#uscs{
    width: 300px;
    height: 300px;
}

#lab{
    width: 400px;
    height: 250px;
}

#charles{
    width: 393px;
    height: 200px;
}

#citiz{
    width: 400px;
    height: 300px;
}

#sound{
    padding-top: 150px;
    width: 300px;
    hieght: 400px;
    transform: rotate(90deg)
}

@media(max-width:600px){
    #main{
        width: 70%;
        float:none;
    }

    #sidebar{
        width: 30%;
        float: none;
    }
}

